!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %title Tells
    %meta{:content => '', :name => 'description'}
    %meta{:content => 'yes', :name => 'apple-mobile-web-app-capable'}
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1.0', :name => 'viewport'}

    = stylesheet_link_tag('css/normalize.css')
    = stylesheet_link_tag('css/about.css')

    = javascript_include_tag('js/vendor/modernizr.custom.47083.js')

    -# Load fonts 
    = javascript_include_tag '//use.typekit.net/wzk2btb.js'
    :javascript
      try{Typekit.load();}catch(e){}


%body= yield

-# jQuery
= javascript_include_tag('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
:javascript
    window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')

-# libs
= javascript_include_tag('js/vendor/jquery.touchSwipe.min.js')
= javascript_include_tag('js/vendor/jquery.transit.min.js')

-# app
= javascript_include_tag('js/about.js')

:javascript
  // Google analytics
  var _gaq = _gaq || [];
  var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-5544272-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  // init app
  $(function(){
    window.About.init();
  });